<h2>Cart</h2>

<% if @current_cart.order_items.any? %>

<table>
    <thead>
        <tr>
            <th>Tour n.</th>
            <th>Date</th>
            <th>Location</th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        <% @current_cart.order_items.each do |item| %>

            <tr>
                <td><%= item.product.number %></td>
                <td><%= item.product.date %></td>
                <td><%= item.product.location %></td>
                <td><%= number_to_currency item.product.price_in_euros, unit: "€" %></td>
                <td><%= item.quantity %></td>
                <td>
                    <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete %>
                </td>
            </tr>

        <% end %>
    </tbody>
</table>

<p>Total: <%= number_to_currency @current_cart.total_price_in_euros, unit: "€" %></p>

<p>
    <%= link_to "Continue to checkout", new_order_path %>
</p>

<% else %>
    <p class="empty">There are no items in your cart</p>
<% end %>