<!DOCTYPE html>
<html>
  <head>
    <title>Thesuperhungry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Superhungry", root_path %></h1>

      <nav>
        <%= link_to "Tours", products_path %>
        <%= link_to "Info", info_path %>
        <%= link_to cart_path do %>
          Cart (<%= number_to_currency @current_cart.total_price_in_euros, unit: "€" %>)
        <% end %>

      </nav>
    </header>

    <% if flash[:success].present? %>
      <div class="flash-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>Copyright 2019</footer>
  </body>
</html>
