<!DOCTYPE html>
<html>
  <head>
    <title>Thesuperhungry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Superhungry", root_path %></h1>

      <nav>
        <%= link_to "Tours", products_path %>
        <%= link_to "Info", info_path %>
        <%= link_to "Cart(0)", "#" %>

      </nav>
    </header>
    <%= yield %>

    <footer>Copyright 2019</footer>
  </body>
</html>
